@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Kanit&display=swap');
/* Navigation Menu*/
.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 0     0      10px           10px;
  position: fixed;
  top: 0;
  width: 100%; 
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Kanit', sans-serif;
}
.topnav a:hover {
  background-color: #46484a;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.topnav a.active {
  background-color: #cfcfcf;
  color: white;
}

body {
    background-image: url("IMG_2749.PNG");
}
header {
    height: 120px;
    width: 800px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: #46484a;
    border: white double 3px;
    box-shadow: 10px 10px 5px #292929;
    border-radius: 10px;
    padding-bottom: 50px;
}
header h1 {
    padding-bottom: 10px;
    font-family: 'Bungee Shade', cursive;
    margin-bottom:0px;
}
header p {
    font-family: 'Kanit', sans-serif;
    margin-top: 0px;
    padding-bottom:10px;

}
div.headerl img{
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
}

div.playerCodeList {
    height: 370px;
    width: 360px;
    display: block;
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #46484a;
    border: white double 3px;
    box-shadow: 10px 10px 5px #292929;
    font-family: 'Kanit', sans-serif;
    border-radius: 11px;
}
table, th, td {
    border:1px solid white; 
    font-family: 'Kanit', sans-serif;
    color: white;
    margin: auto;
}
.button {
  font-family: 'Kanit', sans-serif;
  background-color: #46484a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  border: white double 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  flex: 10%;
}
.button:hover {
  box-shadow: 5px 5px 7px lightgray ;
  background-color: white;
  color: black;
  font-weight: bold;
}
footer {
  color: white;
  height : 30px;
  font-family: 'Kanit', sans-serif;
  display: block;
  margin: auto;
}
div.gui {
  display: flex;
}
div.annoucment {
    height: 370px;
    width: auto;
    display: block;
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #46484a;
    border: white double 3px;
    box-shadow: 10px 10px 5px #292929;
    font-family: 'Kanit', sans-serif;
    border-radius: 11px;
    flex: 50%;
    margin-right: 50px;
}
div.annoucment table {
  margin-top: 50px;
}
table, th, td {
    border:1px solid white; 
    font-family: 'Kanit', sans-serif;
    color: white;
    margin: auto;
}
div.f1 {
  flex : 40%;
  margin-left: 50px;
}
div.spacer {
  width: 100%;
  height: 50px;
}